@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font-mono: 'DM Mono', monospace;
    --font-sans: 'DM Sans', sans-serif;
    --font-display: 'Playfair Display', sans-serif;
    --font-color: #8a7d6a;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background: #f5f0e8;
    color: var(--font-color);
}

.display{
    display: none;
}

